# Virtual environment
.venv/
env/

# Python temporary files and build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
dist/
wheels/
*.egg-info/

# Django-specific files
*.log
local_settings.py  # or any other file holding local secrets
db.sqlite3         # if using SQLite for local development
media/             # if user-uploaded media is stored locally and not needed in the image

# Version control and editor files
.git/
.gitignore
.hg/
.hgignore
.svn/
.tox/
CVS/
.idea/             # PyCharm/IntelliJ
.vscode/           # VS Code
*.swp

# Environment variables
.env
.envs/
